<!DOCTYPE html>
<html>
  <head>
    <title>TSFCTeam</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header><%= link_to image_tag("img_logo.png", class:"image_switch"), "/" %>
  <%= link_to root_path %>
    <%= image_tag "logo.png" %>
    高度な検索
    <% end %>チーム名</header>
    <div id="column"><%= yield %></div>
  <footer>&copy;2020 D Brand Co.,Ltd..<span><%= link_to 'ご利用規約', schedule_path('kiyaku'), { class: "tar" } %></span></footer>
  </body>
</html>
